/* Apply custom cursor globally and for all states */
html, body, *, button, a, input,
.disabled, a:disabled, input:disabled {
  cursor: url('/blackcircle.svg'), auto;
}

button:hover, a:hover, input:hover, .hover:hover {
  cursor: url('/whitecircle.svg'), auto;
}

button:focus, a:focus, input:focus, .focus:focus {
  cursor: url('/redcircle.svg'), auto;
}
